__pycache__/
*.py[cod]
.venv/
.ipynb_checkpoints/
data/competition/
outputs/
checkpoints/
*.pt
*.pth
*.tif
*.tiff
*.zip
*.pdf
*.docx
*Reference_Solution*
*reference_solution*
*expert_answer*
*Экспертный*
